
<div class="container-fluid">
<!--  <div class="d-flex flex-row">-->
<!--    <div class="p-12">-->
<!--      <div style="background-color: #0074D9;min-height: 1200px;">-->
<!--        hi-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
  <div class="d-flex flex-row">
    <div class="p-6">


      <div class="d-flex justify-content-center  pt-5" *ngIf="!submitting" [ngStyle]="{'min-width.px': options.size,'width.px': options.size}" >


        <lib-sunburst-radar-chart  [options]="options"  [items]="items"></lib-sunburst-radar-chart>

      </div>

    </div>
    <div class="p-6">

      <div class="pl-5 pt-5">
      <form (ngSubmit)="updateChart()">
        <div class="form-group ">
          <label for="chartSize" >Chart Size</label>
          <input type="number" class="form-control" id="chartSize" name="chartSize" [(ngModel)]="size" />
        </div>
        <div class="form-group ">
          <label for="maxScore" >Max Score</label>
          <input type="number" class="form-control" id="maxScore" name="maxScore" [(ngModel)]="maxScore">
        </div>
        <div class="form-group ">
          <label for="legendAxisLinePosition" >Legend Line On</label>
          <input type="number" class="form-control" id="legendAxisLinePosition" name="legendAxisLinePosition" [(ngModel)]="legendAxisLinePosition">
        </div>


        <div class="form-group ">
          <label for="splitBasedOnChildren" >Split Chart Based on Children</label>
          <select id="splitBasedOnChildren" name="splitBasedOnChildren" [(ngModel)]="splitBasedOnChildren" class="form-control">
            <option value="true">true</option>
            <option  value="false">false</option>
          </select>
        </div>
        <div class="form-group ">
          <label for="animateChart" >Animate</label>
          <select id="animateChart" name="animateChart" [(ngModel)]="animateChart" class="form-control">
            <option value="true">true</option>
            <option  value="false">false</option>
          </select>

        </div>

        <div class="form-group ">
          <label for="itemJson" >Data</label><br/>
          <textarea [(ngModel)]="itemJson" cols="80" rows="10" id="itemJson" name="itemJson"></textarea>
        </div>
        <button type="submit" class="btn btn-primary mb-2" >Update</button>
      </form>
      <div class="alert alert-danger" role="alert" *ngIf="error">
        {{error}}
      </div>
      </div>
    </div>

  </div>





</div>
